<!doctype html>
<html lang="en" ng-app="retrospective">
<head>
	<meta charset="UTF-8">
	<title>Retrospective-angular</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl">
	<header>
		<div class="today">{{today | date:'shortDate'}}</div>
		<h1>Retrospective <small>angular</small></h1>
		<button ng-click="$broadcast('topics.clear')">Clear All</button>
	</header>


	<section 
		id="ret-good"
		ng-controller="TopicCtrl"
		ret-topic-entry="What went well?"></section>

	<section
		id="ret-bad"
		ng-controller="TopicCtrl"
		ret-voting
		ret-topic-entry="What needs improvement?"></section>

	<section
		id="ret-next"
		ng-controller="TopicCtrl"
		ret-topic-entry="What should we try next time?"></section>

		<button ng-click="$emit('sort')">Sort</button>
		<button ng-click="$emit('printable')">Printable</button>
	<footer>
		a Katabelisk production, Retrospective v{{version | number: 1}}
	</footer>

	<script src="vendor/angular/angular.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/retrospectiveStore.js"></script>

	<script src="js/TopicCtrl.js"></script>
	<script src="js/topicEntryDir.js"></script>
	<script src="js/topicVotingDir.js"></script>

	<script src="js/forceNumericDir.js"></script>


<script type="text/ng-template" id="topics.html">
	<form ng-submit="add(model.newTopic)">
	<input type="text" ng-model="model.newTopic" placeholder="{{model.placeholder}}">
	</form>
	<ul ng-include="'topic.html'"></ul>
</script>


<script type="text/ng-template" id="topic.html">
	<li ng-repeat="topic in model.topics track by $index">

		<div ng-class="{'hidden': topic.$isEditing}">
			<div ng-if="model.isVotingEnabled">
				<input type="text" ng-model="topic.votes" force-numeric>
				<button ng-click="increment(topic)">&plus;</button>
			</div>
			<div>
				<div ng-dblclick="topic.$isEditing=true">{{topic.name}}</div>
				<button ng-click="remove($index)">&times;</button>
			</div>
		</div>
		<form ng-submit="topic.$isEditing=false">
			<input type="text" ng-class="{'hidden': !topic.$isEditing}" ng-model="topic.name">
		</form>
	</li>
</script>

</body>
</html>
