<!doctype html>
<html lang="en" ng-app="retrospective">
<head>
	<meta charset="UTF-8">
	<title>Retrospective-angular</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl">
	<header class="page-header media">
		<div class="pull-right"><button class="btn btn-default" ng-click="$broadcast('topics.clear')">Clear All</button></div>
		<h1 class="brand">Retrospective <small>angular</small></h1>
		<div class="today text-mute text-right">{{today | date:'shortDate'}}</div>
	</header>

	<section 
		id="ret-good"
		ng-controller="TopicCtrl"
		ret-topic-entry="What went well?"></section>

	<section
		id="ret-bad"
		ng-controller="TopicCtrl"
		ret-voting
		ret-topic-entry="What needs improvement?"></section>

	<section
		id="ret-next"
		ng-controller="TopicCtrl"
		ret-topic-entry="What should we try next time?"></section>

		<button class="btn btn-default" ng-click="$emit('sort')">Sort</button>
		<button class="btn btn-default" ng-click="$emit('printable')">Printable</button>
	<footer class="text-right">
		<small class="text-mute">a Katabelisk production, Retrospective v{{version | number: 1}}</small>
	</footer>

	<script src="vendor/angular/angular.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/retrospectiveStore.js"></script>

	<script src="js/TopicCtrl.js"></script>
	<script src="js/topicEntryDir.js"></script>
	<script src="js/topicVotingDir.js"></script>

	<script src="js/forceNumericDir.js"></script>
	<script src="js/escInInputDir.js"></script>
	<script src="js/focusInputDir.js"></script>


	<script type="text/ng-template" id="topics.html">
		<form ng-submit="add(model.newTopic)">
		<input type="text" ng-model="model.newTopic" placeholder="{{model.placeholder}}">
		</form>
		<ul class="list-unstyled list-topics" ng-include="'topic.html'"></ul>
	</script>


	<script type="text/ng-template" id="topic.html">
		<li class="topic" ng-repeat="topic in model.topics track by $index">
			<div class="media-clearfix" ng-class="{'hidden': topic == editedTopic }">
				<div class="pull-left topic-panel" ng-if="model.isVotingEnabled">
					<input type="text" ng-model="topic.votes" force-numeric>
					<button class="btn btn-default btn-increment" ng-click="increment(topic)">&plus;</button>
				</div>
				<div class="media__body">
					<button class="close pull-right" ng-click="remove(topic)">&times;</button>
					<div class="topic-name" ng-dblclick="editTopic(topic)">{{topic.name}}</div>
				</div>
			</div>
			<form ng-submit="doneEditing(topic)">
				<input type="text"
					focus-input="topic == editedTopic"
					ng-class="{'hidden': topic != editedTopic, 'editing': topic==editedTopic}"
					ng-model="editedTopic.name"
					ng-blur="doneEditing(topic)"
					esc-in-input="revertEditing(topic)">
			</form>
		</li>
	</script>
</body>
</html>
