<!doctype html>
<html lang="en" ng-app="retrospective">
<head>
	<meta charset="UTF-8">
	<title>Retrospective-angular</title>
	<link rel="stylesheet" href="css/normalize.css">
</head>
<body ng-controller="MainCtrl">
	<header>
		<div class="today">{{today | date:'shortDate'}}</div>
		<h1>Retrospective <small>angular</small></h1>
		<button ng-click="$broadcast('topics.clear')">Clear All</button>
	</header>


	<section 
		id="ret-good"
		ng-controller="TopicsCtrl"
		ret-topics="What went well?"></section>

	<section
		id="ret-bad"
		ng-controller="TopicsCtrl"
		ret-add-voting
		ret-topics="What needs improvement?"></section>

	<section
		id="ret-next"
		ng-controller="TopicsCtrl"
		ret-topics="What should we try next time?"></section>

		<button ng-click="$emit('sort')">Sort</button>
		<button ng-click="$emit('printable')">Printable</button>
	<footer>
		foot
	</footer>

	<script src="vendor/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/addVotingDir.js"></script>
	<script src="js/forceNumericDir.js"></script>
	<script src="js/TopicsCtrl.js"></script>
	<script src="js/TopicsDir.js"></script>
	<script src="js/topicStorage.js"></script>

<script type="text/ng-template" id="topics.html">
	<form ng-submit="add(model.newTopic)">
	<input type="text" ng-model="model.newTopic" placeholder="{{model.placeholder}}">
	</form>
	<ul ng-include="'topic.html'"></ul>
</script>

<script type="text/ng-template" id="topic.html">
	<li ng-repeat="topic in model.topics track by $index">
		<div ng-if="model.isVotingEnabled">
			<input type="text" ng-model="topic.votes" force-numeric>
			<button ng-click="increment(topic)">&plus;</button>
		</div>
		<div>
			{{topic.name}}
			<button ng-click="remove($index)">&times;</button>
		</div>
		<input type="text" ng-model="topic.name">
	</li>
</script>

</body>
</html>
